In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Data Acquisiton DEMOS 1

In [3]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
   ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
   ---------------- ----------------------- 41.0/96.5 kB 991.0 kB/s eta 0:00:01
   ---------------------------------------- 96.5/96.5 kB 1.4 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
accidents = pd.read_csv("Data/accidents.csv")

In [6]:
accidents

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17

In [19]:
Green = pd.read_excel("Data/green_tripdata_2015-09.xls")

In [23]:
Green.columns

Index(['VendorID', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime',
       'Store_and_fwd_flag', 'RateCodeID', 'Pickup_longitude',
       'Pickup_latitude', 'Dropoff_longitude', 'Dropoff_latitude',
       'Passenger_count', 'Trip_distance', 'Fare_amount', 'Extra', 'MTA_tax',
       'Tip_amount', 'Tolls_amount', 'Ehail_fee', 'improvement_surcharge',
       'Total_amount', 'Payment_type', 'Trip_type '],
      dtype='object')

In [48]:
Green.VendorID

0        2
1        2
2        2
3        2
4        2
        ..
65530    2
65531    2
65532    2
65533    2
65534    2
Name: VendorID, Length: 65535, dtype: int64

In [50]:
unique_vendor_ids = Green['VendorID'].unique()

In [52]:
print(unique_vendor_ids)

[2 1]

In [54]:
vendor_counts = Green['VendorID'].value_counts()

In [55]:
vendor_counts

VendorID
2    51412
1    14123
Name: count, dtype: int64

In [56]:
Green

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2015-09-01 00:02:34,2015-09-01 00:02:38,N,5,-73.979485,40.684956,-73.979431,40.685020,1,...,7.8,0.0,0.0,1.95,0.0,NaN,0.0,9.75,1,2
1,2,2015-09-01 00:04:20,2015-09-01 00:04:24,N,5,-74.010796,40.912216,-74.010780,40.912212,1,...,45.0,0.0,0.0,0.00,0.0,NaN,0.0,45.00,1,2
2,2,2015-09-01 00:01:50,2015-09-01 00:04:24,N,1,-73.921410,40.766708,-73.914413,40.764687,1,...,4.0,0.5,0.5,0.50,0.0,NaN,0.3,5.80,1,1
3,2,2015-09-01 00:02:36,2015-09-01 00:06:42,N,1,-73.921387,40.766678,-73.931427,40.771584,1,...,5.0,0.5,0.5,0.00,0.0,NaN,0.3,6.30,2,1
4,2,2015-09-01 00:00:14,2015-09-01 00:04:20,N,1,-73.955482,40.714046,-73.944412,40.714729,1,...,5.0,0.5,0.5,0.00,0.0,NaN,0.3,6.30,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,2,2015-09-02 16:51:59,2015-09-02 17:04:00,N,1,-73.829605,40.759716,-73.832214,40.751514,1,...,9.0,1.0,0.5,0.00,0.0,NaN,0.3,10.80,2,1
65531,2,2015-09-02 16:53:51,2015-09-02 17:04:32,N,1,-73.962112,40.805710,-73.984970,40.769550,1,...,10.5,1.0,0.5,2.46,0.0,NaN,0.3,14.76,1,1
65532,2,2015-09-02 16:57:21,2015-09-02 17:05:03,N,1,-73.829941,40.713718,-73.831917,40.702145,1,...,7.0,1.0,0.5,2.20,0.0,NaN,0.3,11.00,1,1
65533,2,2015-09-02 16:51:42,2015-09-02 17:05:28,N,1,-73.860748,40.832661,-73.845169,40.845306,1,...,10.5,1.0,0.5,2.46,0.0,NaN,0.3,14.76,1,1
65534,2,2015-09-02 16:40:36,2015-09-02 16:48:20,N,1,-73.941887,40.822948,-73.937180,40.804462,1,...,8.0,1.0,0.5,0.00,0.0,NaN,0.3,9.80,2,1

In [58]:
Green['Store_and_fwd_flag'].unique()

array(['N', 'Y'], dtype=object)

In [59]:
Green['Store_and_fwd_flag'].value_counts()

Store_and_fwd_flag
N    65181
Y      354
Name: count, dtype: int64

In [64]:
pd.read_json("https://api.gameofthronesquotes.xyz/v1/author/tyrion/2").T

,0,1
sentence,Never forget what you are. The rest of the wor...,You love your children. It's your one redeemin...
character,"{'name': 'Tyrion Lannister', 'slug': 'tyrion',...","{'name': 'Tyrion Lannister', 'slug': 'tyrion',..."

In [67]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\acer\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\acer\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\acer\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [69]:
pd.read_csv("https://github.com/plotly/datasets/blob/master/data.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 40, saw 21